/* Общие стили */

body {
    font-family: "Open Sans";
    color: #0D3B62;
}

.background-blue {
    background: #2D7BE5;
}

.background-yellow {
    background: #FFE358;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro';
    src: url('fonts/ProbaPro-Regular.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Regular.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

/* header's */

header {
    background-image: url("img/header_small.png");
    background-size: cover;
    height: 70px;
    margin-bottom: 30px;
}

.navbar-default .navbar-nav > li > a{
    font-size: 18px;
    color: #0D3B62;
}

header .navbar {
    padding: 10px 0;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    background: transparent;
}

header .navbar-brand {
    padding: 0 50px 0 100px;
}

.title {
    margin: 0 0 30px 0;
    border-radius: 10px;
    background: #FFD441;
}

.title div.short_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    text-align: center;
    padding: 30px 25px 30px 25px;
}

.title div.long_title {

}

/* Актуальная информация */

.actual_information {
    background: #FFD441;
    border-radius: 10px;
    margin-bottom: 30px;
}

.actual_information .caption {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #234161;
    margin: 0;
    padding: 30px 0;
}

.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink,
.chartjs-render-monitor {
    width: 280px !important;
    height: 280px !important;
}

#myChart {

}

canvas#myChart {
    width: 280px !important;
    height: 280px !important;
    /*margin-left: 30px;*/
    margin-bottom: 30px;
}

.actual_information .row {
    margin: 0;
}

.actual_information .information_card {
    width: 240px;
    height: 125px !important;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 25px;
}

.marker-1, .marker-2, .marker-3, .marker-4 {
    margin-right: 20px;
}
.marker-1 {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    background: #CA00FD;
    display: inline-block;
}

.actual_information .count {
    font-family: "IBM Plex Sans";
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.8px;
    color: #000000;
}

.card_header {
    padding: 20px 20px 0 15px;
}

.body_card {
    font-family: Proba Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 62px;
    padding-bottom: 15px;
    color: #3F3D3D;
}

/* map section */

section.map {
    border-radius: 10px;
    background: #FFD441;
    padding: 0 100px 30px 100px;
}


section.map .caption {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 90.5%;
    margin: 0;
    padding: 30px 0;
    color: #234161;
}

section.map form {
    margin-bottom: 30px;
}

section.map select {
    border-radius: 10px;
    font-family: "Proba Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #234161;
    padding: 0 0px 0 5px;
    position: relative;
    background: url("img/select_img.png") right no-repeat;
    background-size: 17px 17px;
    background-position: 170px;
    background-color: #ffffff;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

section.map #map {
    width: 100%;
    height: 356px;
    border-radius: 10px;
    margin-top: 30px;
}

/* sidebar */

.sidebar {
    padding: 0 10px 10px 10px;
    margin: 0;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar h1 {
    padding: 30px 0 30px 0;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    border-bottom: 2px solid #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0 10px 0;
    color: #ffffff;
    background: #2D7BE5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: none;
}

.sidebar .sidebar_scroll_up_button {
    background: transparent;
    border: none;
    color: #ffffff;
    text-align: center;
    width: 100%;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 7px 0;
    margin-bottom: 10px;
}

.sidebar .sidebar_scroll_down_button {
    background: transparent;
    border: none;
    color: #ffffff;
    text-align: center;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    padding: 7px 0;
    margin-bottom: 10px;
}

.list-group-item {
    background: transparent;
    border: none;
}

.panel-group {
    margin: 0;
}

.panel {
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.panel-heading {
    color: #ffffff !important;
    background-color: transparent !important;
    border: none !important;
}


    /* footer */

footer {
    margin-top: 30px;
    height: 250px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,212,65,1) 50%);
}

footer .row {
    margin: 0 !important;
}

footer .footer_card {
    height: 214px;
    width: 100%;
    z-index: 1;
    border-radius: 10px;
    background: #2D7BE5;
    background-image: url("img/footer_background.png");
    background-size: cover;
}

footer .footer_card .footer_caption {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 160%;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #FFE358;
    width: 300px;
    margin: 0 auto;

    color: #FFFFFF !important;
}

footer .footer_card .contact {
    width: 50%;
    float: left;
    margin-top: 30px;
    font-family: Proba Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    padding-left: 50px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}